.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--surface-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

  z-index: 1000;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex; /* This arranges items in a row */
  flex-direction: row; /* Explicitly sets horizontal layout */
  gap: 1.5rem; /* Adds spacing between links */
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: var(--accent-color);

  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00a0e0;
}
